[submodule "docfx_project/ziti-cmd"]
	path = docfx_project/ziti-cmd
	url = https://github.com/netfoundry/ziti-cmd
[submodule "docfx_project/ziti-csharp"]
	path = docfx_project/ziti-csharp
	url = https://github.com/netfoundry/ziti-cmd
[submodule "docfx_project/ziti-sdk-c"]
	path = docfx_project/ziti-sdk-c
	url = https://github.com/netfoundry/ziti-cmd
